{
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true

    }
  },
  "extends": [
    "airbnb/base",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "no-useless-return": "off",
    "func-names": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "useTabs": false,
        "printWidth": 80,
        "tabWidth": 2,
        "quoteProps": "as-needed",
        "trailingComma": "none"
      }
    ]
    // "eol-last": "error",
  },
  "env": {
    "browser": true,
    "node": true
  }
}
