@import "../common/reset.css";
.box {
  position: relative;
  height: 400px;
  overflow-y: auto;
}
.box::-webkit-scrollbar {
  display: none;
}
/* .box-inner {
  height: 50px;
} */
.vitrual {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #cccccc;
  z-index: -1;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: aliceblue;
}
.box-inner {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  background-color: blueviolet;
}